 table,td,th{
     color:  olivedrab;
     text-align:  center;
     font-family: Andalus;
     font-size: 40px;
     font-weight: 100;
     border: 3px solid black;
     border-collapse: collapse;
     padding: 5px;
}
div {
    border: 2px ridge red;
}
.Bruh {
    color: black;

}
button{
    background-color: olivedrab;
}
button:hover{
    color: red;
    background-color: wheat;
}
@media (min-width: 600px){
    body{
        background-color: aqua;
    }

}
@media (max-width: 599px){
    body{
        background-color:brown;
    }
}
